body {
    background-color: #73c8a9;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to right, #6ee0e0, #296e6e);
    border: 5px solid #2e2e2e;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    text-align: center; 
}

#instructions {
    margin-bottom: 20px;
}

#startButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #4CAF50;
}

#startButton:hover {
    background-color: white;
    color: #4CAF50;
}

#game{
    width: 400px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: rgb(99, 243, 253);
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
