body {
    background-color: #faf8f8;
    font-family: 'Press Start 2P', cursive;
    border: 5px solid #000000;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    text-align: center; 
}

#instructions {
    margin-bottom: 20px;
    color:#000000;
}

#startButton {
    background-color: #ff188b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #ff188b;
}

#startButton:hover {
    background-color: white;
    color: #ff188b;
}

#game{
    width: 400px;
    height: 500px;
    border: 3px solid #000000;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: #ff188b;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: #faf8f8;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

p{
    color:#000000
}